body{
    position: relative;
    background-color: #EEEEEE;
}

.header{
    width:90%;
    height: 100px;
    background-color: red;
    text-align: center;
    margin-top: 0px;
    box-shadow:  0px 0px 20px rgb(78, 76, 76);
}

#aboutme{
    width: 800px;
    height: 450px;
    background-color: white;
    position: absolute;
    top: 120%;
    left: 12%;
    min-width: 800px;
    min-height: 450px;
    box-shadow:  0px 0px 20px rgb(78, 76, 76);
}

img{
    object-fit: cover;
}

#horizonimg{
    object-fit: contain;
}

#whyimade{
    width: 800px;
    height: 450px;
    background-color: white;
    position: absolute;
    top: 120%;
    left: 12%;
    transform: translateY(490px);
    min-width: 800px;
    min-height: 450px;
    box-shadow: 0px 0px 20px rgb(78, 76, 76);
}

#recommendations{
 width: 400px;
 height: 400px;
background-color:white;
position: absolute;
top: 120%;
left: 63%;
min-width: 400px;
    min-height: 400px;
    box-shadow:  0px 0px 20px rgb(78, 76, 76);
}

#sociallinks{
    width: 400px;
    height: 350px;
    background-color: white;
    position: absolute;
top: 480%;
left: 63%;
min-width: 400px;
    min-height: 350px;
    box-shadow:  0px 0px 20px rgb(78, 76, 76);
}