

body{
    position: relative;
    background-color: #EEEEEE;
    font-family: 'Quicksand', sans-serif;
}

.header{
    width:90%;
    height: 100px;
    background-color: rgb(100, 100, 182);
    text-align: center;
    margin-top: 0px;
    box-shadow:  0px 0px 20px rgb(78, 76, 76);
}

#aboutme{
    width: 800px;
    height: 450px;
    background-color: white;
    position: absolute;
    top: 120%;
    left: 12%;
    min-width: 800px;
    min-height: 450px;
    box-shadow:  0px 0px 20px rgb(78, 76, 76);
}

img{
    object-fit: cover;
}

#horizonimg{
    object-fit: contain;
}

#whyimade{
    width: 800px;
    height: 450px;
    background-color: white;
    position: absolute;
    top: 120%;
    left: 12%;
    transform: translateY(490px);
    min-width: 800px;
    min-height: 450px;
    box-shadow: 0px 0px 20px rgb(78, 76, 76);
}

.toptextlong, .textlong{
    padding: 10px;
}

.textlong{
    transform: translateY(-70px);
    font-weight: 700;
    font-size: 16px;
}

.toptextlong{
    font-size: 24px;
    font-weight:900;
    transform: translateY(-40px);
}

#recommendations{
 width: 400px;
 height: 400px;
background-color:white;
position: absolute;
top: 120%;
left: 63%;
min-width: 400px;
    min-height: 400px;
    box-shadow:  0px 0px 20px rgb(78, 76, 76);
}

#sociallinks{
    width: 400px;
    height: 350px;
    background-color: white;
    position: absolute;
top: 480%;
left: 63%;
min-width: 400px;
    min-height: 350px;
    box-shadow:  0px 0px 20px rgb(78, 76, 76);
}